body {
    background-color: rgba(250, 250, 250, 0.9);
}
* {
    padding: 1px;
    margin: 1px;
}
.panel-heading {
    background-color: white;
    padding-bottom: 60px;
    box-shadow: 3px 3px rgb(243, 241, 241);
}
#icon {
    text-align: center;
}
.col {
    margin-left: 20%;
    margin-right: 20%;
}
.form-group {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
}
.btn {
    width: 100%;
    border: 1px solid gray;
}
h1, label {
    font-weight: bold;
}
#new, #newp {
    text-align: center;
}
.password-related {
    display: inline-block;
}
.button-other {
    width: 48%;
    background-color: rgb(224, 223, 223);
}
#needh {
    margin-top: 20px;
    padding-top: 20px;
}